body { 
font-family: Helvetica Serif;
width: 960px;
}

div {
  height: 400px
  background: linear-gradient (to bottom, #33ccff 0%, #ffffff 61%);
}

.header {
  font-size: 14px;
}
#namebox {
  margin-left: 50px;
}

.your_name {
  float: left;
  background-color: #36486b;
  text-align: center;
  padding: 5px;
  color: #fefbd8;

}

.nav {
  float: right;
  margin-right: 5%;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  margin: 5px;
  padding: 5px;
}


.background {
   position: absolute;
   z-index: -1;
}

h2 {
  color: #36486b;
  padding-left: 20px;
  
}

.aboutme {
  background-color: #ffffff;
  width: 650px;
  float: left;
  border: solid black 1px;
  margin-top: 2%; 
  margin-left: 2%; 
  }

.profilepic {
  float: left;
  margin: 0px 10px 10px 20px;
}

p {
  width: 620px;
  padding-bottom: 20px;
  margin: 20px 20px 20px 20px;
}

.connectlinks {
  float: right;
  background-color: white;
  margin-right: 5%;
  margin-top: 2%;
  padding: 20px 20px 20px 20px;
  border: solid black 1px;
  
}

.clearfix{
  clear: both;
  content: "";
  display: block;
}

.footer {
  clear: both;
  height: 100px;
  background-color: #618685;
  position: absolute;
  bottom: 0;
  width:960px;
}

footer {
  text-align: center;
  padding-top: 40px;
  color: white;
  border-top: 4px solid #4040a1;
}